/*	Style Written for the Library System
 *	Written by PillowSky(Yuzhong Huang)
 */

@green: #76CC1E;
@yellow: #F9EE20;
@orange: #F66B30;
@brown: #F0AD4E;
@blue: #428BCA;

body{
	background: url(../img/bg.jpg) no-repeat fixed;
	background-size: cover;
	overflow-x: hidden;
}
nav{
	background-color: #000;
	opacity: 0.7;
	height: 3.6rem;
	span{
		position: absolute;
		color: #FFF;
		font-size: 1.2rem;
		padding: 1rem;
		transition: all 0.6s;
		&:hover{
			background-color: #666;
		}
	}
	#title{
		left: 4rem;
	}
	#login{
		right: 2rem;
	}
}
#actionRow{
	margin: 15% auto 0;
	width: 80%;
	.actionButton{
		display: inline-block;
		margin-left: 12rem;
		padding: 1rem;
		min-width: 6.8rem;
		font-size: 1.5rem;
		text-align: center;
		border-radius: 0.6rem;
		transition: all 0.6s;
	}
	#book{
		color: @green;
		border: 2px solid @green;
		margin-left: 14rem;
		&:hover{
			color: #FFF;
			background-color: @green;
		}
	}
	#card{
		color: @orange;
		border: 2px solid @orange;
		&:hover{
			color: #FFF;
			background-color: @orange;
		}
	}
}
#adminRow{
	margin: 8% auto 0;
	width: 80%;
	display: none;
	.actionButton{
		display: inline-block;
		margin-left: 9rem;
		padding: 1rem;
		min-width: 6.8rem;
		font-size: 1.5rem;
		text-align: center;
		border-radius: 0.6rem;
		transition: all 0.6s;
	}
	#import{
		color: @blue;
		border: 2px solid @blue;
		&:hover{
			color: #FFF;
			background-color: @blue;
		}
	}
	#admin{
		color: @brown;
		border: 2px solid @brown;
		&:hover{
			color: #FFF;
			background-color: @brown;
		}
	}
	#adminCard{
		color: @orange;
		border: 2px solid @brown;
		&:hover{
			color: #FFF;
			background-color: @brown;
		}
	}
}
#loginView{
	position: absolute;
	top: 0;
	left: 100%;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.6s;
	z-index: 10;
	#tip{
		margin: 8% auto 0;
		padding: 1rem;
		width: 25%;
		color: @orange;
		text-align: center;
		font-size: 1.8rem;
		border: 2px solid @orange;
		border-radius: 0.6rem;
	}
	#loginArea{
		margin: 3rem auto 0;
		padding: 0.5rem 1rem 2rem;
		width: 30%;
		text-align: center;
		font-size: 1.2rem;
		color: #FFF;
		border: 2px solid @orange;
		border-radius: 0.6rem;
		p{
			margin: 2.5rem 0;
			input{
				margin-left: 1.5rem;
				padding: 0.5rem;
				color: #333;
				opacity: 0.9;
				border: 0;
				border-radius: 6px;
			}
		}
		#loginButton{
			float: right;
			margin: -1.6rem 1rem 0 0;
			padding: 0.5rem 1.5rem;
			color: @green;
			font-size: 1.2rem;
			border: 2px solid @green;
			border-radius: 0.6rem;
			transition: all 0.6s;
			cursor: pointer;
			&:hover{
				color: #FFF;
				background-color: @green;
			}
		}
		#cancelButton{
			float: left;
			margin: -1.6rem 0 0 1rem;
			padding: 0.5rem 1.5rem;
			color: @orange;
			font-size: 1.2rem;
			border: 2px solid @orange;
			border-radius: 0.6rem;
			transition: all 0.6s;
			cursor: pointer;
			&:hover{
				color: #FFF;
				background-color: @orange;
			}
		}
	}
}
#filter{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	z-index: -10;
}
table{
	margin: 3rem auto;
	width: 90%;
	color: #333;
	border-collapse: collapse;
	box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.6);
	tr{
		transition: all 0.2s;
	}
	tr:nth-child(odd){
		background-color: #FFFFFF;
	}
	tr:nth-child(even){
		background-color: #E8EDFF;
	}
	tr:hover{
		background-color: #D0DAFD;
	}
	th {
		border: 1px solid #CCC;
		background-color: #EEE;
		padding: 1rem;
	}
	td {
		border: 0;
		padding: 1rem;
	}
}
input{
	color: #000;
	padding: 0.25rem 1rem;
}
select{
	color: #000;
	padding: 0.25rem 1rem;
	option{
		padding: 0.25rem 1rem;
	}
}
#controlBar{
	margin: 3rem auto 0;
	text-align: center;
	font-size: 1.2rem;
	color: #FFF;
}
#search{
	display: inline-block;
}
#sort{
	display: inline-block;
}

#card{
	#cardInfo{
		display: none;
		margin: 2rem auto 0;
		padding: 1rem;
		text-align: center;
		width: 48rem;
		color: #333;
		background-color: #FFF;
		border-radius: 0.5rem;
		box-shadow: 0 0 1rem #333 inset;
		ul{
			margin: 0;
			list-style: none;
			li{
				display: inline;
				margin-right: 2rem;
				font-size: 1.2rem;
			}
		}
	}
}
#adminBook{
	#cardInfo{
		display: none;
		color: #FFF;
		text-align: center;
		margin-top: 2rem;
	}
	label{
		color: #FFF;
	}
	form{
		color: #000;
	}
	select{
		color: #000;
	}
}
#admin{
	#cardInfo{
		display: none;
		color: #FFF;
		text-align: center;
		margin-top: 2rem;
	}
	input{
		color: #000;
	}
	select{
		color: #000;
	}
}
#adminCard{
	#cardInfo{
		display: none;
		color: #333;
		background-color: #FFF;
		text-align: center;
		margin-top: 2rem;
	}
	input{
		color: #000;
	}
	select{
		color: #000;
	}
}