body{
	background: url(../img/bg.png) repeat fixed;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp";
}
.panel{
	margin: 8% auto 0;
	font-size: 3rem;
	width: 60%;
	.table{
		font-size: 1.5rem;
	}
}