body{background:url(../img/bg.png) repeat fixed;font-family:"Hiragino Sans GB","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei","Apple LiGothic Medium","SimHei","ST Heiti","WenQuanYi Zen Hei Sharp"}
.jumbotron{opacity:.3;margin-bottom:1.8rem}.jumbotron h1{margin-left:20%;font-size:5.5rem;color:#000;opacity:1}
#upbutton{margin-left:20%;padding-left:22px}
.panel{margin:1.8rem auto;font-size:3rem;width:60%}.panel .table{font-size:1.5rem}
#footer{margin:4rem 0 1rem;text-align:center;font-size:1.5rem;color:#eee;opacity:.8}
